@import "./styles/example.scss"; // DON'T FORGET TO ADD SEMI COLON
// we have access to variable from example scss because we imported

#main {
    color:$color;
}

.domain {
    stroke: rgb(68, 0, 255);
}

text{
    color:rgb(27, 0, 101)
}

line{
    color:rgb(68, 0, 255);

}

path{
    background-color: black;
}
svg{
    background-color: rgb(45, 147, 162);
    border-radius: 5px;

}
